<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>SaveUserDetails</servlet-name>
    <servlet-class>servlet.SaveUserDataServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SaveUserDetails</servlet-name>
    <url-pattern>/save</url-pattern>    
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PaymentOtp</servlet-name>
    <servlet-class>servlet.PaymentAuthenticateOtpServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PaymentOtp</servlet-name>
    <url-pattern>/paymentOtp</url-pattern>    
  </servlet-mapping>
 
 
  <servlet>
    <servlet-name>OrderRequest</servlet-name>
    <servlet-class>servlet.GetOrderRequestServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>OrderRequest</servlet-name>
    <url-pattern>/order</url-pattern>
    </servlet-mapping> 
    
    <servlet>
    <servlet-name>DeletUserRequest</servlet-name>
    <servlet-class>servlet.DeletOrderRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeletUserRequest</servlet-name>
    <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>LoginMobileRequest</servlet-name>
    <servlet-class>servlet.LoginMobileRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginMobileRequest</servlet-name>
    <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
</web-app>
